html {
    padding: 0;
    margin: 0;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
    background-color: #EFEFEF;
    font-size: 1.1em;
}

.masthead {
    margin: 0;
    padding: 0;
    background-color: #202020;
    color: white;
    font-size: 20px;
    font-weight: 500;
    vertical-align: middle;
    line-height: 70px;
    display: flex;
    justify-content: space-between;
}
.nav-main, .site-logo {
    height: 70px;
    display: inline;
}
.mobile-menu {
    display: none;
    cursor: pointer;
}

li {
    margin: .25em 0;
}

a {
    color: #20688c;
    font-weight: bold;
}

a:visited {
    color: #20688c;
}

.little-logo {
    height: 45px;
    vertical-align: middle;
    display: inline-block;
}

.top-menu {
    height: 70px;
    display: inline-block;
    float: right;
    margin-right: 10px;
}

.top-menu ul {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.top-menu li {
    float: left;
    margin: 0;
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
}

.top-menu li.selected {
    background-color: #999999;
}

.top-menu li:hover {
    background-color: #777777;
}

.top-menu a {
    text-decoration: None;
    color: white;
}

#content {
    padding: 20px 20px 100px;
    max-width: 800px;
    margin: auto;
}

#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #202020;
    color: white;
}

ul.alert-channel-list {
    list-style-type: none;
}

ul.alert-channel-list li {
    margin-bottom: 5px;
}

ul.alert-channel-list li img {
    height: 17px;
    float: left;
    margin-right: 10px
}
@media only screen and (max-width: 600px) {
    .masthead {
        flex-direction: column;
    }
    .nav-main {
        display: flex;
        justify-content: space-between;
    }
    .mobile-menu {
        display: inline;
        margin: 0 1em;
    }
    .top-menu {
        margin-right: 0;
        height: initial;
        display: none;
    }
    .top-menu ul {
        display: flex;
        flex-direction: column;
    }
    .top-menu li a {
        display: block;
    }
}