html {
    padding: 0;
    margin: 0;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
    background-color: #EFEFEF;
    font-size: 2em;
}

#content {
    margin: auto;
    text-align: center;
}

#content div {
    margin-top: 20px;
}

#title {
    margin-bottom: 30px;
}

#content #footer {
    margin-top: 60px;
    font-size: .4em;
}